body {
    background: beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:blanchedalmond;
    margin: 0px;
}

.card {
    text-transform: capitalize;
    background-color: rgb(127, 27, 173);
    text-align: center;
    margin: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    border: 10px;
    border-color: rgb(192, 111, 202);
    border-style: solid;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 20px solid  rgb(192, 111, 202);
}

.notas {
    background-color: rgb(55, 126, 61);
    text-align:left;
    margin: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    border: 10px;
    border-color: rgb(139, 209, 139);
    border-style: solid;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 20px solid  rgb(139, 209, 139);
}


h1 {
    padding: 10px;
    padding-top: 10px;
    font-size: 40px;
    font-style: italic;
    color: rgb(180, 180, 130);
}

h2 {
    padding: 10px;
    padding-top: 10px;
    margin: 40px;
    font-size: 25px;
    font-style: italic;
    color: rgb(180, 180, 130);
}

p {
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.t1 {
    padding: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.fecha {
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

a {
  color: inherit;      /* Usa el color del texto padre */
  text-decoration: none; /* Quita el subrayado */
}

.introduccion {

    height: 200px;;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;

}

.eleccion {

    display: flex;
    gap: 10px; /* espacio entre cajas */
    
    height: 50px;;
    width: 72%;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: beige;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}


.el1 {

    width: 15%;
    height: 100%;

    margin-left: 5%;
    margin-right: 5%;
}

h3 {
    margin-top: 8%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

