body {
    background: beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}


.titulo {

    height: 180px;;
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;

}

.eleccion {

    display: flex;
    gap: 10px; /* espacio entre cajas */
    
    height: 50px;;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: beige;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}


.introduccion {

    height: 400px;;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;

}

.el1 {

    width: 15%;
    height: 100%;

    margin-left: 5%;
    margin-right: 5%;

}

h3 {
    margin-top: 8%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

h1 {
    padding: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    font-style: italic;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

p {
    padding: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

a {
  color: inherit;      /* Usa el color del texto padre */
  text-decoration: none; /* Quita el subrayado */
}

