
body {
    color: #665544;
    background-color: #d4d0c6;
    background-image: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.wrapper {
    width: 720 px;
    margin: 0px auto;
}

.header {
    margin: 40px 0px 20px 0px;
}

.entry {
    width: 600px;
    float: left;
    margin: 10px;
    height: 420px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: bottom ;
}

figure {
    display: block;
    width: 580px;
    height: 395px;
    background-color: #e7e3d8;
    padding: 9px;
    text-align: left;
}

figure img {
    width: 560px;
    height: 360px;
    border: 2px solid #d6d6d6;
    object-fit: cover;
}

figcaption {
    background-image: none;
    padding-left: 20px;
    background-repeat: no-repeat;
    font-size: 25px;
    margin: 3px;
}

p {
    font-size: 40px;
}

.eleccion {

    display: flex;
    gap: 10px; /* espacio entre cajas */
    
    height: 50px;;
    width: 72%;
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
    border-top: 6px solid #665544;
    border-bottom: 6px solid #665544;
    border-radius: 10px;
}


.el1 {

    width: 15%;
    height: 100%;  

    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    text-align: center;
    line-height: 6px; /* igual a la altura */
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 800;
    color: #665544;
}

a {
  color: inherit;      /* Usa el color del texto padre */
  text-decoration: none; /* Quita el subrayado */
}

